doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='public/main.css')
        title Document
    body
        section#main-container
            .container
                .row
                    .col.s10.push-s1
                        .row
                            .col.m5.hide-on-small-only
                                img.iphone(src='img/iphone.png', alt='')
                            .col.s12.m7
                                .row
                                    .signup-box
                                        h1.platzigram Test_01
                                        form(action='signup-form')
                                            h2 Registrarse
                                            .section
                                                a.btn.btn-fb.hide-on-small-only(href='') Iniciar Sesión con Facebook
                                                a.btn.btn-fb.hide-on-med-and-up(href='') Iniciar Sesión
                                            .divider
                                            .section
                                                input(type='email', name='email', placeholder='Correo Electrónico')
                                                input(type='text', name='name', placeholder='Nombre')
                                                input(type='text', name='username', placeholder='Nombre de Usuario')
                                                input(type='password', name='password', placeholder='Contraseña')
                                                button.btn.waves-effect.waves-light(type='submit') Registrarse
                                .row
                                    .login-box
                                        | Tienes una cuenta?
                                        a(href='/signin') Entrar
        footer.site-footer
            .container
                .row
                    .col.s12.l3.center-align
                        a.dropdown-button.btn(href='#', data-activates='dropdown1') Idioma
                        ul#dropdown1.dropdown-content
                            li
                                a(href='#!') Español
                            li
                                a(href='#!') Ingles
                    .col.s12.l3.push-l6.center-align
                        | 2016
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
